#dog {
    width:200px;
    border-radius:40% 80%;
}
h1, h2 {
    text-align: center;
    width: auto;
    font-family: sans-serif;
    transition:1s;
}


p {
    font-family:Arial, Helvetica, sans-serif;
}
.card {
    width: 300px;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    margin-top:6px;
    background-color:rgb(238, 153, 209);
    color:black;
    transition: 1s;
    position:absolute;
    z-index:2;
    animation: scaleIn 1s ease-in-out;

}

#border {
    position:absolute;
    z-index:1;
    display:block;
    width:310px;
    height:540px;
    padding:12px;
    border-radius:16px;
    background:linear-gradient(45deg, #FD3DA5, #FF5984, #FFD356, #F9F871);
    background-size: 300%, 300%;
    transition:1s;
    box-shadow: 10px 10px 6px #8d255c;

}
.icon {
    width:30px;
    vertical-align: middle;
    margin-right:10px;
}   

body {
    background:linear-gradient(90deg, #6420AA, #C60090, #FF3EA5, #FF7ED4, #FFB5DA);
    background-size: 200% 200%;
    transition:2s;
}

body:has(.card:hover){
    background-position: 100% 100%;

}

.card:hover~#border {
    box-shadow: 20px 20px 7px #aa296e;
    transform:scale(1.2);
    animation: gradient 1.5s linear infinite;
}
.card:hover {
    transform:scale(1.2);
    background-color:#FF9CBC;
}


a, p, h2, h3 {
    text-decoration:none;
    color:black;
    animation:color 0.5s 1s ease-in;
    animation-fill-mode:forwards;   
}

#email:hover .icon {
    animation: shake 0.3s linear 2 alternate;
}
#phone:hover .icon {
    animation: shake 0.3s linear 2 alternate;
}

#facebook:hover .icon {
    animation: shake 0.3s linear 2 alternate;
}
.Contact p {
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    width: 80%;
    margin: 5px auto;
}


.container {
    display:flex;
    justify-content:center;
}
body:has(.card:hover) h1{
    opacity:0;
}

@keyframes shake {
    0% { transform:rotate(0deg);}
    25% { transform:rotate(10deg);}
    50% { transform:rotate(0deg);}
    75% { transform:rotate(-10deg);}
    100% { transform:rotate(0deg);}
}

@keyframes scaleIn {
    0% {transform: scale(0.8);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes color {
    0% {color:black}
    100% {color:white;}
}


@keyframes gradient {
    0% {
		background-position: top left;
	}
	25% {
		background-position: top right;
	}
    50% {
        background-position: bottom right;
    }
	75% {
		background-position: bottom left;
    }
    100% {
        background-position: top left;
    }
}

