#dog {
    width:200px;
    border-radius:40% 80%;
}
h1, h2 {
    text-align: center;
    width: auto;
    font-family: sans-serif;
}
p {
    font-family:Arial, Helvetica, sans-serif;
}
.card {
    width: 300px;
    margin:auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color:rgba(255, 126, 212, 0.5);
    box-shadow: 5px 5px 6px #aa296e;
    transition: 1s;
    color:black;
    animation: scale 1s ease-out, color 1s 1s linear;
    animation-fill-mode: forwards;
}

.icon {
    width:30px;
    vertical-align: middle;
    margin-right:10px;
}   

body {
    background:linear-gradient(to right, #6420AA,#FF3EA5,#FFB5DA);
    background-size: 160% 100%;
    transition:2s;
}

.card:hover, card:focus {
    transform:scale(1.05);
    box-shadow: 15px 15px 6px #aa296e;
}

body:has(>.card:hover){
    background-position:100% 100%;
}

a {
    text-decoration:none;
    color:black;
    animation:color 1s 1s linear;
    animation-fill-mode:forwards;   
}

#email:hover .icon {
    animation: shake 0.3s linear 2 alternate;
}
#phone:hover .icon {
    animation: shake 0.3s linear 2 alternate;
}

.Contact p {
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
    width: 80%;
    margin: 5px auto;
}

@keyframes shake {
    0% { transform:rotate(0deg);}
    25% { transform:rotate(10deg);}
    50% { transform:rotate(0deg);}
    75% { transform:rotate(-10deg);}
    100% { transform:rotate(0deg);}
}

@keyframes scale {
    0% {transform: scale(0.9);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

@keyframes color {
    0% {color:black;}
    50% {color:gray;}
    100% {color:white;}
}
